{
  "extends": "rallycoding",
  "rules": {
    "arrow-body-style": 0,
    "quotes": 0,
    "global-require": 0,
    "eol-last": 0,
    "no-underscore-dangle": 0,
    "import/no-unresolved": 0,
    "max-len": 0,
    "prefer-template": 0,
  }
}
